body {
    font-family: Arial;
    background-color: whitesmoke;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  
  .header {
    padding: 10px;
    margin: -10px;
    text-align: center;
    background: #172035;
    color: white;
    font-size: 30px;
    overflow: hidden;
  }
  
  .logo{
    position: relative;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    right: 0;
    background-color: #98b4d4;
    color: white;
    text-align: center;
    overflow: hidden;
  }
  
  .container {
    width: 30%;
    margin: auto;
    background-color: white;
  }
  
  #div_login {
    border: 1px solid gray;
    border-radius: 3px;
    width: 30%px;
    height: 280px;
    box-shadow: 0px 2px 2px 0px gray;
    margin: 0 auto;
  }
  
  #div_login h1 {
    margin-top: 0px;
    font-weight: normal;
    padding: 10px;
    background-color: #172035;
    color: white;
    font-family: sans-serif;
  }
  
  #div_login div {
    clear: both;
    margin-top: 10px;
    padding: 5px;
    padding-right: 15px;
  }
  
  #div_login .textbox {
    width: 90%;
    padding: 7px;
  }
  
  input[type="submit"] {
    background-color: #002d30;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
  }
  
  input[type="submit"]:hover {
    background-color: #3c485c;
  }
  .sidenav {
    overflow: hidden;
    height: 95%;
    width: 15%;
    position: fixed;
    margin-top: 60px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #172035;
    padding-top: 10px;
    padding-left: 5px;
    font-family: Arial;
  }
  
  .sidenav a,
  .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #bfbfbf;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  .sidenav a:hover,
  .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  .active {
    background-color: #172035;
    color: rgb(255, 255, 255);
  }
  
  .dropdown-container {
    display: none;
    background-color: #002d30;
    padding-left: 8px;
  }
  
  i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  #bgslider { 
	overflow: hidden; 
}
#bgslider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 200px;
  font-size: 0;
  animation: 30s slidy infinite; 
}
#bgslider figure img { 
	width: 20%; 
	float: left;
	height:100vh;
}
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }